In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [19]:
panels = [2, 3]
cols = ["technology", "design", "presentation",
        "collaboration", "implementation"]

dfs = []
for panel in panels:
    df = pd.read_csv(f"marksheets/panel{panel:02}.csv")
    df = df.dropna(how="all")
    df = df.ffill()
    df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")
    df["panel"] = panel
    dfs.append(df)

In [25]:
normalized_dfs = []
for df in dfs:
    normalized_df = df.copy()
    for col in cols:
        normalized_df_col_sorted = df[col].sort_values()
        normalized_df[col] = df[col].map(
            lambda x: (normalized_df_col_sorted <= x).sum() / len(normalized_df_col_sorted))
    normalized_dfs.append(normalized_df)

In [29]:
normalized_df = pd.concat(normalized_dfs)
normalized_df = normalized_df.groupby("team_no")[cols + ["panel"]].agg({
    "technology": "mean",
    "design": "mean",
    "presentation": "mean",
    "collaboration": "mean",
    "implementation": "mean",
    "panel": "first"
}).reset_index()
normalized_df["total"] = normalized_df[cols].mean(axis=1)
normalized_df_sorted = normalized_df.sort_values("total", ascending=False)
normalized_df_sorted["rank"] = np.arange(len(normalized_df_sorted)) + 1
normalized_df_sorted

,team_no,technology,design,presentation,collaboration,implementation,panel,total,rank
1,50.0,1.000000,0.916667,1.000000,1.000000,0.916667,2,0.966667,1
0,15.0,1.000000,0.958333,0.916667,1.000000,0.958333,3,0.966667,2
8,117.0,1.000000,0.916667,1.000000,1.000000,0.916667,3,0.966667,3
20,186.0,1.000000,0.916667,1.000000,0.888889,1.000000,2,0.961111,4
17,171.0,1.000000,0.958333,0.916667,0.875000,0.958333,3,0.941667,5
2,67.0,1.000000,0.916667,1.000000,0.888889,0.833333,2,0.927778,6
19,182.0,1.000000,0.916667,0.833333,0.750000,0.916667,3,0.883333,7
4,95.0,1.000000,0.916667,0.833333,0.875000,0.750000,3,0.875000,8
5,97.0,1.000000,0.694444,0.666667,0.694444,0.833333,2,0.777778,9
12,137.0,0.583333,0.916667,0.833333,0.645833,0.750000,3,0.745833,10
18,177.0,0.555556,0.694444,0.666667,0.611111,0.555556,2,0.616667,11
6,103.0,0.555556,0.555556,0.666667,0.611111,0.555556,2,0.588889,12
3,77.0,0.583333,0.916667,0.250000,0.541667,0.583333,3,0.575000,13
14,147.0,0.555556,0.333333,0.472222,0.444444,0.555556,2,0.472222,14
15,163.0,0.416667,0.375000,0.500000,0.541667,0.333333,3,0.433333,15
16,166.0,0.416667,0.375000,0.500000,0.291667,0.583333,3,0.433333,16
9,122.0,0.416667,0.333333,0.500000,0.416667,0.333333,3,0.400000,17
11,135.0,0.416667,0.333333,0.250000,0.291667,0.333333,3,0.325000,18
13,145.0,0.416667,0.333333,0.250000,0.291667,0.333333,3,0.325000,19
7,110.0,0.222222,0.250000,0.277778,0.222222,0.194444,2,0.233333,20
10,123.0,0.222222,0.166667,0.111111,0.166667,0.166667,2,0.166667,21

In [32]:
print(normalized_df_sorted["team_no"].astype(int).to_list())

[50, 15, 117, 186, 171, 67, 182, 95, 97, 137, 177, 103, 77, 147, 163, 166, 122, 135, 145, 110, 123]