In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [39]:
panels = [2, 3]
cols = ["technology", "design", "presentation",
        "collaboration", "implementation"]

In [40]:
dfs = []
df_wise_means = []
for panel in panels:
    df = pd.read_csv(f"marksheets/panel{panel:02}.csv")
    df = df.dropna(how="all")
    df = df.ffill()
    df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")
    df["panel"] = panel
    df_wise_means.append(df[cols].mean())
    dfs.append(df)

In [41]:
# overall means
df_means = pd.concat(dfs)[cols].mean()
df_means

technology        2.523810
design            2.666667
presentation      2.642857
collaboration     2.738095
implementation    2.619048
dtype: float64

In [45]:
df = pd.concat(dfs)
df = df.reset_index()

df_indiv_means = pd.concat(df_wise_means, axis=1).T
df_indiv_means["panel"] = panels
df_indiv_means = df_indiv_means.set_index("panel")
df_indiv_means

       technology    design  presentation  collaboration  implementation
panel
2        3.222222  3.111111      2.944444       3.166667        3.222222
3        2.000000  2.333333      2.416667       2.416667        2.166667

In [46]:
df = df.set_index("panel").drop(columns="index")
df

,team_no,judges,technology,design,presentation,collaboration,implementation,total,collective_total
panel,,,,,,,,,
2,110.0,Smt. Satya Kiranmai,2.0,2.0,2.0,2.0,2.0,2.0,1.7
2,110.0,Mr.Madhukar,2.0,1.0,2.0,1.0,1.0,1.4,1.7
2,67.0,Smt. Satya Kiranmai,4.0,5.0,4.0,4.0,4.0,4.2,4.2
2,67.0,Mr.Madhukar,4.0,4.0,4.0,5.0,4.0,4.2,4.2
2,123.0,Smt. Satya Kiranmai,2.0,1.0,1.0,1.0,1.0,1.2,1.2
2,123.0,Mr.Madhukar,2.0,1.0,1.0,1.0,1.0,1.2,1.2
2,147.0,Smt. Satya Kiranmai,3.0,2.0,2.0,3.0,3.0,2.6,2.6
2,147.0,Mr.Madhukar,3.0,2.0,3.0,2.0,3.0,2.6,2.6
2,186.0,Smt. Satya Kiranmai,4.0,4.0,4.0,4.0,5.0,4.2,4.4
2,186.0,Mr.Madhukar,4.0,5.0,4.0,5.0,5.0,4.6,4.4
2,50.0,Smt. Satya Kiranmai,4.0,5.0,4.0,5.0,5.0,4.6,4.4
2,50.0,Mr.Madhukar,4.0,4.0,4.0,5.0,4.0,4.2,4.4
2,97.0,Smt. Satya Kiranmai,4.0,4.0,3.0,3.0,4.0,3.6,3.6
2,97.0,Mr.Madhukar,4.0,3.0,3.0,4.0,4.0,3.6,3.6
2,103.0,Smt. Satya Kiranmai,3.0,3.0,3.0,3.0,3.0,3.0,3.0
2,103.0,Mr.Madhukar,3.0,3.0,3.0,3.0,3.0,3.0,3.0
2,177.0,Smt. Satya Kiranmai,3.0,3.0,3.0,3.0,3.0,3.0,3.1
2,177.0,Mr.Madhukar,3.0,4.0,3.0,3.0,3.0,3.2,3.1
3,95.0,Ms.SIRISHA,3.0,3.0,3.0,4.0,3.0,3.2,3.0
3,95.0,Mr.Sravan,3.0,3.0,3.0,3.0,2.0,2.8,3.0
3,15.0,Ms.SIRISHA,3.0,3.0,3.0,4.0,3.0,3.2,3.5
3,15.0,Mr.Sravan,3.0,4.0,4.0,4.0,4.0,3.8,3.5
3,122.0,Ms.SIRISHA,1.0,1.0,2.0,2.0,1.0,1.4,1.3
3,122.0,Mr.Sravan,1.0,1.0,2.0,1.0,1.0,1.2,1.3
3,77.0,Ms.SIRISHA,2.0,3.0,1.0,2.0,2.0,2.0,2.0
3,77.0,Mr.Sravan,2.0,3.0,1.0,2.0,2.0,2.0,2.0
3,166.0,Ms.SIRISHA,1.0,2.0,2.0,1.0,2.0,1.6,1.5
3,166.0,Mr.Sravan,1.0,1.0,2.0,1.0,2.0,1.4,1.5
3,171.0,Ms.SIRISHA,3.0,4.0,4.0,4.0,4.0,3.8,3.4
3,171.0,Mr.Sravan,3.0,3.0,3.0,3.0,3.0,3.0,3.4
3,145.0,Ms.SIRISHA,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,145.0,Mr.Sravan,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,135.0,Ms.SIRISHA,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,135.0,Mr.Sravan,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,137.0,Ms.SIRISHA,2.0,3.0,3.0,3.0,3.0,2.8,2.6
3,137.0,Mr.Sravan,2.0,3.0,3.0,2.0,2.0,2.4,2.6
3,163.0,Ms.SIRISHA,1.0,1.0,2.0,2.0,1.0,1.4,1.5
3,163.0,Mr.Sravan,1.0,2.0,2.0,2.0,1.0,1.6,1.5
3,117.0,Ms.SIRISHA,3.0,3.0,4.0,4.0,3.0,3.4,3.4
3,117.0,Mr.Sravan,3.0,3.0,4.0,4.0,3.0,3.4,3.4
3,182.0,Ms.SIRISHA,3.0,3.0,3.0,3.0,3.0,3.0,3.0
3,182.0,Mr.Sravan,3.0,3.0,3.0,3.0,3.0,3.0,3.0

In [26]:
# Adjustment factors
adj_fac = df_means - df_indiv_means
adj_fac

       technology    design  presentation  collaboration  implementation
panel
2       -0.698413 -0.444444     -0.301587      -0.428571       -0.603175
3        0.523810  0.333333      0.226190       0.321429        0.452381

In [68]:
adj_fac_div = adj_fac / df_indiv_means
adj_fac_div

       technology    design  presentation  collaboration  implementation
panel
2       -0.216749 -0.142857     -0.102426      -0.135338       -0.187192
3        0.261905  0.142857      0.093596       0.133005        0.208791

In [55]:
df_adj = df.copy()
df_adj[cols] += adj_fac
df_adj["total"] = df_adj[cols].mean(axis=1)

df_adj_team_means = df_adj.groupby("team_no")[cols].mean()
df_adj_team_means["total"] = df_adj_team_means.mean(axis=1)
df_adj_team_means

,technology,design,presentation,collaboration,implementation,total
team_no,,,,,,
15.0,3.523810,3.833333,3.726190,4.321429,3.952381,3.871429
50.0,3.301587,4.055556,3.698413,4.571429,3.896825,3.904762
67.0,3.301587,4.055556,3.698413,4.071429,3.396825,3.704762
77.0,2.523810,3.333333,1.226190,2.321429,2.452381,2.371429
95.0,3.523810,3.333333,3.226190,3.821429,2.952381,3.371429
97.0,3.301587,3.055556,2.698413,3.071429,3.396825,3.104762
103.0,2.301587,2.555556,2.698413,2.571429,2.396825,2.504762
110.0,1.301587,1.055556,1.698413,1.071429,0.896825,1.204762
117.0,3.523810,3.333333,4.226190,4.321429,3.452381,3.771429
122.0,1.523810,1.333333,2.226190,1.821429,1.452381,1.671429
123.0,1.301587,0.555556,0.698413,0.571429,0.396825,0.704762
135.0,1.523810,1.333333,1.226190,1.321429,1.452381,1.371429
137.0,2.523810,3.333333,3.226190,2.821429,2.952381,2.971429
145.0,1.523810,1.333333,1.226190,1.321429,1.452381,1.371429
147.0,2.301587,1.555556,2.198413,2.071429,2.396825,2.104762
163.0,1.523810,1.833333,2.226190,2.321429,1.452381,1.871429
166.0,1.523810,1.833333,2.226190,1.321429,2.452381,1.871429
171.0,3.523810,3.833333,3.726190,3.821429,3.952381,3.771429
177.0,2.301587,3.055556,2.698413,2.571429,2.396825,2.604762
182.0,3.523810,3.333333,3.226190,3.321429,3.452381,3.371429
186.0,3.301587,4.055556,3.698413,4.071429,4.396825,3.904762

In [60]:
teams_scores_sorted = df_adj_team_means.sort_values("total", ascending=False)
teams_scores_sorted

,technology,design,presentation,collaboration,implementation,total
team_no,,,,,,
186.0,3.301587,4.055556,3.698413,4.071429,4.396825,3.904762
50.0,3.301587,4.055556,3.698413,4.571429,3.896825,3.904762
15.0,3.523810,3.833333,3.726190,4.321429,3.952381,3.871429
117.0,3.523810,3.333333,4.226190,4.321429,3.452381,3.771429
171.0,3.523810,3.833333,3.726190,3.821429,3.952381,3.771429
67.0,3.301587,4.055556,3.698413,4.071429,3.396825,3.704762
95.0,3.523810,3.333333,3.226190,3.821429,2.952381,3.371429
182.0,3.523810,3.333333,3.226190,3.321429,3.452381,3.371429
97.0,3.301587,3.055556,2.698413,3.071429,3.396825,3.104762
137.0,2.523810,3.333333,3.226190,2.821429,2.952381,2.971429
177.0,2.301587,3.055556,2.698413,2.571429,2.396825,2.604762
103.0,2.301587,2.555556,2.698413,2.571429,2.396825,2.504762
77.0,2.523810,3.333333,1.226190,2.321429,2.452381,2.371429
147.0,2.301587,1.555556,2.198413,2.071429,2.396825,2.104762
163.0,1.523810,1.833333,2.226190,2.321429,1.452381,1.871429
166.0,1.523810,1.833333,2.226190,1.321429,2.452381,1.871429
122.0,1.523810,1.333333,2.226190,1.821429,1.452381,1.671429
145.0,1.523810,1.333333,1.226190,1.321429,1.452381,1.371429
135.0,1.523810,1.333333,1.226190,1.321429,1.452381,1.371429
110.0,1.301587,1.055556,1.698413,1.071429,0.896825,1.204762
123.0,1.301587,0.555556,0.698413,0.571429,0.396825,0.704762

In [63]:
print(teams_scores_sorted.index.astype(int).tolist())

[186, 50, 15, 117, 171, 67, 95, 182, 97, 137, 177, 103, 77, 147, 163, 166, 122, 145, 135, 110, 123]

In [76]:
team_scores_adj_div = df.copy()
team_scores_adj_div[cols] -= adj_fac_div
team_scores_adj_div["total"] = team_scores_adj_div[cols].mean(axis=1)
team_scores_adj_div = team_scores_adj_div.groupby("team_no")["total"].mean()
team_scores_adj_div = team_scores_adj_div.sort_values(ascending=False)
print(team_scores_adj_div.index.astype(int).tolist())

[186, 50, 67, 97, 15, 177, 117, 171, 103, 95, 182, 147, 137, 110, 77, 123, 163, 166, 122, 135, 145]